* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'header header'
                         'nav nav'
                         'section aside'
                         'article aside'
                         'footer footer';
    height: 100dvh;
}

.header {
    grid-area: header;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
}

.nav {
    grid-area: nav;
    background-color: #2ecc71;
    color: #ffffff;
    padding: 10px;
}

.section {
    grid-area: section;
    background-color: #e74c3c;
    color: #ffffff;
    padding: 10px;
}

.aside {
    grid-area: aside;
    background-color: #f39c12;
    color: #ffffff;
    padding: 10px;
}

.article {
    grid-area: article;
    background-color: #9b59b6;
    color: #ffffff;
    padding: 10px;
}

.footer {
    grid-area: footer;
    background-color: #34495e;
    color: #ffffff;
    padding: 10px;
}
